{% extends "base.html" %}

{% block content %}

<h1>Add a new post</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
              <li class="{{ category }}" class="error" style="list-style:none; color:red">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="/addpost" method='post'>
        <label>
            Title for your new post:
            <br/>
            <input type="text" size="40" name='title' value="{{entered_title}}"/>
        </label>
        <br/>
        <br/>
        <label>
            Your text for your new post:
            <br/>
            <textarea rows="10" cols="45" name="text">{{entered_post}}</textarea>

        </label>
        <br/>
        <input class="btn btn-success" type="submit" value='Add Post' />
    </form>



{% endblock %}